<footer class="footer bg-dark py-4 mt-auto footer-style">
  <div class="container text-center">
    <div>
      Compass icon made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware" class="footer-link">Good Ware</a> from
      <a href="https://www.flaticon.com/" title="Flaticon" class="footer-link">www.flaticon.com</a>
    </div>
    <br />
    <span>&copy Scouter App by <a href="/" title="view CV" class="footer-link">Bartosz Czupryna</a> 2021</span>
  </div>
</footer>
